@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
}

h1 {
  @apply text-7xl;
}

h2 {
  @apply text-3xl;
}

body {
@apply bg-blue-500;
}
  
@layer components {
  .grille {
    @apply px-6 lg:grid lg:grid-cols-principal lg:justify-center lg:gap-12;
  }
  .menu-link {
    @apply block px-5 py-4;
  }
}