@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
}

h1 {
  @apply text-7xl;
}

h2 {
  @apply text-3xl;
}

body {
  @apply bg-gradient-to-b from-tahiti-100 to-tahiti-200;
}


  .menu-link {
    @apply block pl-16 py-4;
  }


    .disable-scroll {
    overflow-y: hidden;
}

